body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
/* This refers to the body tag in index.html, which is why it applies to literally everything in the website since the entire react app is under the root div */